.ignored
node_modules
.ds_store
.vscode
*.png
.idea
*.yml
*.env
*.sh
*.iml
*.py
npm-debug.log
tsconfig.json
*.svg
package.json
package-lock.json
*.scss
*.css
*.json
*.txt
*.html
src/icons/*
*.xml
cdk/cdk.out/*
build/*
cypress/downloads
cypress/videos
dist
